<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'gmapdemo:home' %}"> Dashboard |</a>
      <a class="navbar-brand" href="{% url 'gmapdemo:clear_database' %}">Clear Database </a>
    </div>
  </div>
</nav>
