{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div id="map" style="height: 400px;width: 100%;"></div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered" id="places">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Address</th>
                        <th>Latitide</th>
                        <th>Longitude</th>
                    </tr>
                </thead>
                <tbody class="place_rows">
                    {% if places %}
                    
                        {% for place in places %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ place.address }}</td>
                                <td>{{ place.lat }}</td>
                                <td>{{ place.lon }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <p> No records! </p>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -34.397, lng: 150.644},
                zoom: 8
            });

            map.addListener('click', function( event ){
                var geocoder = new google.maps.Geocoder;
                var infowindow = new google.maps.InfoWindow;

                geocoder.geocode({'location': event.latLng}, function(results, status) {
                    if (status === 'OK') {
                        if (results[0]) {
                            map.setZoom(11);
                            var marker = new google.maps.Marker({
                                position: event.latLng,
                                map: map
                            });
                            infowindow.setContent(results[0].formatted_address);
                            add_place(results[0].formatted_address, event.latLng.lat(), event.latLng.lng());
                            infowindow.open(map, marker);
                        } else {
                            console.log('No results found');
                        }
                    } else {
                        console.log('Geocoder failed due to: ' + status);
                    }
                });
            });
        }

        function add_place(address, lat, lng){
            
            var request = $.ajax({
                url: "/create_place/",
                type: "POST",
                data: { address : address, lat : lat, lng : lng }
            });

            request.done(function(result) {
                console.log(result);
                var place_rows_count = $("#places tbody.place_rows tr").length;
                row = " <tr> \
                            <th scope=\"row\">"+(place_rows_count+1)+"</th> \
                            <td>"+result.address+"</td> \
                            <td>"+result.lat+"</td> \
                            <td>"+result.lon+"</td> \
                        </tr>"
                $("#places tbody").append(row);
            });

            request.fail(function(jqXHR, textStatus) {
                alert( "Request failed: " + textStatus );
            });
        }

      
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGqMRd71q6yQlnz02MifWbH5_KtdBV7Y8&callback=initMap"
    async defer></script>
{% endblock %}
